/* GENERAL STYLES */
body{
    background: #d1deda;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}

.layout{
    width: 100%;
    height: auto;

    display: grid;
    grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        "content content content lateral"
        "footer footer footer footer"
    ;
    grid-template-rows: 100px 70px auto 70px;

}

/* HEADER STYLES */
.header{
    grid-area: header;

    background: white;
    text-align: left;  
    font-style: italic;

    display: flex;
    justify-content: center;
}

.logo{
    
    background: linear-gradient(90deg, #03228f 10%, #0e73e4 100%);
    width: 40px;
    height: 40px;
    border-radius: 100px;

    margin-top: 30px;
}

.play{
    width: 0;
    height: 0;
    margin-top: 15px;
    margin-left: 16px;
    border-left: 12px solid white;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

.header h1{
    margin-left: 15px;
    margin-top: 30px;
}

/* NAVIGATION BAR STYLES */
.nav{
    grid-area: nav;
    border: 5px solid red;
    background: lightgoldenrodyellow;
}

.content{
    grid-area: content;
    border: 5px solid green;
    background: lightcyan;
}

.lateral{
    grid-area: lateral;
    border: 5px solid blue;
    background: lightgrey;
}

.footer{
    grid-area: footer;
    border: 5px solid orange;
    background: lightpink;
}